<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Move-blob by sachinphatak</title>

    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular-hotkeys/build/hotkeys.js"></script>
    <script type="text/javascript" src="js/move-blob.js"></script>

    <link rel="stylesheet" type="text/css" href="js/lib/angular-hotkeys/build/hotkeys.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body ng-app="MoveBlobApp">
    <div class="wrapper">
      <header>
        <h1>Move-blob</h1>
        <p>Move a blob around with arrow keys or on-screen buttons. Something I&#39;m using to practice testing a node-express-angular app.</p>
        <p class="view"><a href="https://github.com/sachinphatak/move-blob">View the Project on GitHub <small>sachinphatak/move-blob</small></a></p>
      </header>
      <section>
        <div ng-controller="BlobCtrl">
          <img src="images/blob.jpg" ng-style="blobStyle">
          <div id="controls" style="position:absolute; top:0%; right:0%">
            <center>
              <span>
                <button ng-click="moveBlobUp()" style="position: relative"> ^ </button>
              </span><br>
            </center>
            <span>
              <button ng-click="moveBlobLeft()" style="position: relative"> < </button>
              &nbsp;
              <button ng-click="moveBlobRight()" style="position: relative"> > </button>
            </span><br>
            <center>
              <span>
                <button ng-click="moveBlobDown()" style="position: relative"> v </button>
              </span><br>
            </center>
          </div>
        </div>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/sachinphatak">sachinphatak</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
