<!DOCTYPE html>
<html>
<head>
	<title>Move blob</title>

	<link rel="stylesheet" type="text/css" href="js/lib/angular-hotkeys/build/hotkeys.css">

	<script src="js/lib/angular/angular.js"></script>
	<script src="js/lib/angular-hotkeys/build/hotkeys.js"></script>
	<script src="js/move-blob.js"></script>
</head>
<body ng-app="MoveBlobApp">
	<div ng-controller="BlobCtrl">
		<!-- <img src="images/blob.jpg" style="width: 20%; height: 20%"> -->
		<img src="images/blob.jpg" ng-style="blobStyle">
		<div id="controls" style="position:absolute; top:0%; right:0%">
			<center>
				<span>
					<button ng-click="moveBlobUp()" style="position: relative"> ^ </button>
				</span><br>
			</center>
			<span>
				<button ng-click="moveBlobLeft()" style="position: relative"> < </button>
				&nbsp;
				<button ng-click="moveBlobRight()" style="position: relative"> > </button>
			</span><br>
			<center>
				<span>
					<button ng-click="moveBlobDown()" style="position: relative"> v </button>
				</span><br>
			</center>

		</div>

	</div>
</body>
</html>